@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Noto+Sans:wght@400;700&display=swap');

html {
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: #222;
  line-height: 1.5;
  line-height: 1.5;
  /* include your font family and default line-height */
}

img {
  width: 100%;
}

div > img {
  width: 100%;
  /* height: 20vw; */
  object-fit: cover;
}

nav{
  background-color: #000000
}
nav ul {
  margin: 0;
  padding: .5rem 1rem;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav li{
  padding: 2rem 1rem;
}
nav ul a {
  text-decoration: none;
  color: #ffffff;

}

/* nav{
  background-color: #000000;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 1.25em 0;
  display: flex;
  justify-content: center;

}

nav ul li a{
  padding: 0.5em;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
} */

header {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
}

.banner{
  background-color: #E0DFDA;

}

.speaker{
  background-color: #045252;
  margin: 0;
}

.holding-container{
  width: 100%;
  display: flex;
  gap: 0.8em;
}


.text-container {
  flex: 1;

}

.img-container {
  flex: 1;
}

.container-grid {
  margin: 0;
   display: grid;
   justify-content: center;
   gap: 2em;
   padding: 4rem;
   grid-template-columns: 1fr;

}
p {
  margin: 0;
}
.header img{
  width: 100px;
  height:100px;
  align-content: center;

}
nav {
  display:flex;

}
input.nav-toggle {
  display: none;}

}
/* display the label in mobile that has our hamburgur menu  */
label.nav-toggle-label {
  display: block;
}

.speaker h1 {
  color: #ffffff;
  padding: 4rem;
  padding-bottom: 0;
  margin: 0;
}

@media screen and (min-width: 768px) {
input.nav-toggle {
  display: none;
}

  label.nav-toggle-label {
    display: none;
  }
.container-grid {
   grid-template-columns: repeat(2, 1fr);

}
@media screen and (min-width: 1080px) {
input.nav-toggle {
  display: none;}
  .button-container-div {
    weight: 100px;
    height: 100px;
    margin: 0;

    display: grid;
  }

  button {
    background-color: #045252;
    color: #fff;
    border: 1px solid;
    padding: 10px;
    width: 100px;
    outline: none;
    margin: auto;
  }
}

  label.nav-toggle-label {
    display: none;
}
.container-grid {
   grid-template-columns: repeat(4, 1fr);
   ;
}

.button-container-div {
  weight: 100px;
  height: 100px;
  margin: 0;

  display: grid;
}

button {
  background-color: #045252;
  color: #fff;
  border: 1px solid;
  padding: 10px;
  width: 100px;
  outline: none;
  margin: auto;
}
button hover {
  background-color: #ffffff;
  border-radius: 10px;
  color: #000000;
}

}
nav {
  display: block;
}
footer {
  background-color: #000000;

}

footer p {
  color: #ffffff;
  text-align: center;
}
