@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Noto+Sans:wght@400;700&display=swap');

html {
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: #222;
  line-height: 1.5;
  line-height: 1.5;
  /* include your font family and default line-height */
}

img {
  width: 100%;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

nav{
  background-color: #000000;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 1.25em 0;
  display: flex;
  justify-content: center;

}

nav ul li a{
  padding: 0.5em;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.holding-container{
  width: 100%;
  display: flex;
}

.text-container {
  flex: 1;

}

.img-container {
  flex: 1;
}

.container-grid {
  margin: 0;
   display: grid;
   justify-content: center;
   gap: 0.8em;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(2, 1fr));
}
